<div class="nav-container container">
  <div class="navbar d-flex justify-content-between">
    <a href="/"><button class="btn btn-secondary">回到首頁</button></a>
    <div class="nav-wrapper">
      <a href="/about"><button class="btn btn-secondary">ABOUT</button></a>
      <a href="/portfolio"><button
          class="btn btn-secondary"
        >Portfolio</button></a>
      <a href="/contact"><button class="btn btn-dark">Contact</button></a>
    </div>
  </div>
  <h1>Contact</h1>
</div>